.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8);
}

@font-face {
  font-family: "MapleMono-Regular";
  src: url("../../../public/MapleMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'MapleMono-Regular', sans-serif;
}

#toolbardiv {
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: 'MapleMono-Regular', sans-serif;
  /* width: 100%; */
  height: 32px;
  background-color: white;
  z-index: 999;
}

#toolbar td {
  border: 1px solid #330;
  flex: 1;
  box-sizing: border-box;
}

#toolbar-logo img {
  max-height: 20px;
}

.menuA {
  border: 1px solid #330;
  background-color: white;
  display: inline-block;
  position: absolute;
  top:32px;
  left: var(--classmenuAleftpx);
}

.menuF {
  float: right;
  font-size: 21px;
  margin-top: 1px;
  margin-right: 3px;
}

#out_of_the_toolbar_menu_tr {
  width: 40px;
}

.titlebar {
  height: 30px;
  background: #329ea3;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
}
.titlebar-button:hover {
  background: #5bbec3;
}