.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8);
}
#toolbar {
  width: 100%;
  min-height: 40px;
  max-height: 4%;
  background-color: #330;
}